page-latest-news {
    .weatherIcon {
        font-size:26px;        
    }
    .weatherText {
        font-size:14px;
    }
    .moreIcon {
        font-size:40px;
    } 

    .globalCard{
        ion-label{
            white-space: normal;
        }
    }

    .spinner{
        width: 100%;
        position: relative;
        margin: auto;
        ion-spinner {
            margin: auto;
            position: absolute;
        }
    }
}
