page-tee-times {
    .weatherIcon {
        font-size:26px;        
    }
    .weatherText {
        font-size:14px;
    }
    .moreIcon {
        font-size:40px;
    } 

    .scroll-content{
        padding: 0px !important;
    }

    #teetimes{
        width : 100%;
        height: 100%;
        overflow: scroll;
        iframe{
            width : 100%;
            height: 100%;
        }
    }
}
