page-home {
    .weatherIcon {
        font-size:26px;        
    }
    .weatherText {
        font-size:14px;
    }
    .moreIcon {
        font-size:40px;
    }
    .notificationIcon {
        padding-bottom: 12px;
        font-size: 20px
    } 

    .spinner{
        width: 100%;
        position: relative;
        margin: auto;
        ion-spinner {
            margin: auto;
            position: absolute;
        }
    }

    ion-label {
        h2 {
            color: inherit !important;
        }
    }
}


// wp_ajax_cart_save

// $wpshop_item_id		= $_POST['wpshop_id'];
// $wpshop_cart_id		= $_POST['wpshop_cart_id'];
// $wpshop_key		    = $_POST['wpshop_key'];
// $wpshop_name		= $_POST['wpshop_name'];
// $wpshop_href		= $_POST['wpshop_href'];
// $wpshop_cost		= $_POST['wpshop_cost'];
// $wpshop_num		    = intval($_POST['wpshop_num']);
// $wpshop_sklad		= intval($_POST['wpshop_sklad']);