page-home {
    .weatherIcon {
        font-size:26px;        
    }
    .weatherText {
        font-size:14px;
    }
    .moreIcon {
        font-size:40px;
    }
    .notificationIcon {
        padding-bottom: 12px;
        font-size: 20px
    }  
}
