page-home {
    .weatherIcon {
        font-size:26px;        
    }
    .weatherText {
        font-size:14px;
    }
    .moreIcon {
        font-size:40px;
    }
    .notificationIcon {
        padding-bottom: 12px;
        font-size: 20px
    } 

    .spinner{
        width: 100%;
        position: relative;
        margin: auto;
        ion-spinner {
            margin: auto;
            position: absolute;
        }
    }

    .globalCard {
        height : 58px;
    }

    ion-label {
        h2 {
            color: inherit !important;
        }
    }
}