<ion-header>

  <div class="globalHeader">
    <ion-row>
      <ion-col left text-left>
        <button ion-button icon-left clear>
          <img class="weather_icon" [src]="service.weather" />
        <div class="weatherText">{{service.temperature}}°</div>
      </button>
      </ion-col>
      <ion-col center text-center>
        <button ion-button icon-only clear>
        <img class="applogo" [src]="service.logo" >
      </button>
      </ion-col>
      <ion-col right text-right>
        <button ion-button icon-right clear>
        <ion-icon name="ios-more-outline" class="moreIcon"></ion-icon>
      </button>
      </ion-col>
    </ion-row>
  </div>

  <ion-navbar>
    <ion-title>{{service.dic.Settings}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="globalBackground" [style.background-color]="service.app.back_color" [style.background-image]="service.app.back_image" >

  <ion-card class="globalCard2">
    <ion-list-header class="globalListHeading">
      {{service.dic.GenSettings}}
    </ion-list-header>
    <button ion-item (click)="openNotificationSettings()">
      <ion-icon color="secondary" name="md-globe" item-start></ion-icon>
      {{service.dic.Notifications}}
    </button>
    <!-- <ion-item>
      <ion-icon color="secondary" name="md-list" item-start></ion-icon>
      <ion-label>Show Menu Always</ion-label>
      <ion-toggle color="secondary" checked="true" item-end></ion-toggle>
    </ion-item> -->
  </ion-card>

  <ion-card class="globalCard2" *ngIf="accounts && accounts.length > 0">
    <ion-list-header class="globalListHeading">
      {{service.dic.AccountsSettings}}
    </ion-list-header>
    <button ion-item *ngFor="let a of accounts" (click)="openAccountSettings(a)">
      <ion-icon item-start style="height: 25px; width: 25px">
        <img src="assets/imgs/{{a.icon}}.png">
      </ion-icon>
      {{ a.name }}
    </button>
  </ion-card>

  <ion-card class="globalCard2">
    <!-- <ion-list-header class="globalListHeading">
      {{service.dic.Help}}
    </ion-list-header> -->
    <button ion-item *ngFor="let h of helps" (click)="openHelpItem(h)">
      <ion-icon color="secondary" name={{h.icon}} item-start></ion-icon>
      {{ h.name }}
    </button>
  </ion-card>

</ion-content>