doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    script(rel="text/javascript", src="/javascripts/jquery/jquery-3.2.1.min.js")
    script(rel="text/javascript", src="/javascripts/jquery/jquery-ui.min.js")
  body
    h1= message
    h2= error.status
    pre #{error.stack}
