<ion-header>

  <ion-navbar>

    <ion-row>
      <ion-col left text-left>
        <button ion-button icon-left clear>
          <img class="weather_icon" [src]="service.weather" />
        <div class="weatherText">{{service.temperature}}°</div>
      </button>
      </ion-col>
      <ion-col center text-center>
        <button ion-button icon-only clear>
        <img class="applogo" [src]="service.logo" >
      </button>
      </ion-col>
      <ion-col right text-right>
        <button ion-button icon-right clear (click)="openSettings()">
        <ion-icon name="ios-more-outline" class="moreIcon"></ion-icon>
      </button>
      </ion-col>
    </ion-row>

  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="spinner"><ion-spinner *ngIf="!Tabs"></ion-spinner></div>

    <ion-segment [(ngModel)]="selectedTab">
      <ion-segment-button *ngFor="let tab of Tabs" value="{{tab.id}}" (tap)="selectTab(tab)">
        {{tab.name}}
      </ion-segment-button>
    </ion-segment>

    <ng-container *ngFor="let tab of Tabs">
      <ion-list *ngIf="tab.id == selectedTab" >
        <ng-container *ngFor="let icon of Icons" >
          <ion-item *ngIf="icon.tabid == tab.id" >
            {{icon.logourl}}
            <p>{{icon.name}}</p>
          </ion-item>
        </ng-container>
      </ion-list >
    </ng-container>
    <!-- <ion-list *ngIf="selectedTab == 'Vanha'">
    </ion-list> -->

    <!-- <ion-list *ngIf="selectedTab == 'Uusi'">
    </ion-list> -->

</ion-content>