page-partners {
    .weatherIcon {
        font-size:26px;        
    }
    .weatherText {
        font-size:14px;
    }
    .moreIcon {
        font-size:40px;
    } 

    .spinner{
        width: 100%;
        position: relative;
        margin: auto;
        ion-spinner {
            margin: auto;
            position: absolute;
        }
    }

    .partner-logo{
        display: inline-block;
        width: 45%;
        margin: 5px;

        img {
            max-height: 60px;
        }
    }
}
